 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
 }

 header {
     background-color: rgb(0, 0, 0);
     color: white;
     padding: 15px;
 }

 a {
     text-decoration: none;
     color: white;
 }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .header_left {
     display: flex;
     align-items: center;
 }

 .header_left img {
     width: 30px;
     margin-right: 10px;
 }

 .header_right ul {
     list-style: none;
     display: flex;
 }

 .header_right li {
     margin-right: 15px;
 }

 .header_right a {
     text-decoration: none;
 }

 .header_right button {
     background-color: #3498db;
     color: white;
     border: none;
     border-radius: 5%;
     padding: 8px 16px;
     cursor: pointer;
     transition: background-color 0.3s;
     box-shadow: 0 4px 8px rgba(52, 152, 219, 0.3);
 }

 .header_right button:hover {
     background-color: #2980b9;
 }

 table {
     width: 80%;
     margin: 20px auto;
     border-collapse: collapse;
 }

 th,
 td {
     padding: 12px;
     text-align: left;
     border-bottom: 1px solid #ddd;
 }

 th {
     background-color: #3498db;
     color: white;
 }

 .about_me,
 .owners {
     text-align: left;
     margin: 20px;
     background-color: rgba(255, 255, 255, 0.9);
     color: black;
     padding: 30px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 .active {
     color: red;
     /* or any other styling you want */
 }

 .owners {
     margin-top: 20px;
 }

 .owner_block {
     background-color: rgba(255, 255, 255, 0.9);
     border: 1px solid #bdc3c7;
     border-radius: 10px;
     padding: 20px;
     margin-top: 20px;
 }

 .owner_block h2 {
     color: #3498db;
 }

 .owner_block .socials a {
    color: #000;
 }

/* Add this CSS for the forum container and posts */
.forum-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forum-container h1 {
    color: #000;
    text-align: center;
}

.forum-container button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5%;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.forum-container button:hover {
    background-color: #333;
    color: #fff;
}

.forum-container p {
    color: #000;
}

.forum-post-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.user_block {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user_block img {
    width: 30px;
    margin-right: 10px;
}

.user_block h4 a {
    text-decoration: none;
    color: #e74c3c;
    /* Red color for username */
}

.forum-post-container h3 a {
    color: #3498db;
    text-decoration: none;
}

.forum-post-container p {
    color: #000;
}

 .forum-post-form {
     max-width: 600px;
     margin: 20px auto;
     padding: 20px;
     background-color: #f9f9f9;
     /* Light gray background */
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 .forum-post-form h1 {
     color: #000;
     /* Black header text */
     text-align: center;
 }

 .forum-post-form input,
 .forum-post-form textarea {
     width: 100%;
     padding: 10px;
     margin: 10px 0;
     box-sizing: border-box;
     border: 1px solid #ddd;
     /* Border color */
     border-radius: 5px;
 }

 .forum-post-form textarea {
     resize: vertical;
 }

 .forum-post-form input[type="submit"] {
     background-color: #000;
     /* Black button background */
     color: #fff;
     /* White button text */
     border: none;
     border-radius: 5px;
     padding: 10px;
     cursor: pointer;
     transition: background-color 0.3s;
 }

 .forum-post-form input[type="submit"]:hover {
     background-color: #333;
     /* Darker gray hover color */
 }

/* Add this CSS for the dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5%;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(52, 152, 219, 0.3);
}

.dropbtn:hover {
    background-color: #2980b9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    min-width: 160px;
    /* Set a minimum width for the dropdown */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.error {
    display: none;
    background-color: #d9534f;
    /* Red color for error */
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.error p {
    margin: 0;
    padding: 10px;
    border-radius: 5px;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-content .button {
    display: block;
    /* Make buttons block elements */
    width: 100%;
    /* Full width */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
    height: 50px;
    /* Fixed height */
    line-height: 50px;
    /* Center the text vertically */
    margin-bottom: 10px;
    /* Space between buttons */
    text-align: left;
    /* Text align to the left */
    padding-left: 15px;
    /* Padding on the left side */
    /* Other styles (color, background, border-radius, etc.) here... */
}

.modal-content .button:last-child {
    margin-bottom: 0;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Li elements representing multiple choice questions */
.question li {
    list-style: none;
    padding: 10px;
    margin-top: 8px;
    background-color: #e1e1e1e8;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.question li:hover {
    background-color: #d1d1d1;
}

/* Styles for Yes and No buttons */
#modalYesButton,
#modalNoButton {
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 10px;
    border: none;
    color: white;
    background-color: #5cb85c;
    /* Bootstrap 'success' color */
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(76, 175, 80, 0.6);
    transition: background-color 0.3s ease;
}

#modalYesButton:hover,
#modalNoButton:hover {
    background-color: #4cae4c;
    /* a darker shade of success color */
}

/* Change the color for the No button */
#modalNoButton {
    background-color: #d9534f;
    /* Bootstrap 'danger' color */
}

#modalNoButton:hover {
    background-color: #c9302c;
    /* a darker shade of danger color */
}

.error-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    background-color: #e74c3c;
    /* Red */
    color: white;
    border-radius: 4px;
    z-index: 2000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    /* So that mouse events pass through to elements below */
    opacity: 0;
    transition: opacity 0.4s;
}

.error-container.top {
    top: 1rem;
}

.error-container.bottom {
    bottom: 1rem;
}