.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-content .button {
    display: block;
    /* Make buttons block elements */
    width: 100%;
    /* Full width */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
    height: 50px;
    /* Fixed height */
    line-height: 50px;
    /* Center the text vertically */
    margin-bottom: 10px;
    /* Space between buttons */
    text-align: left;
    /* Text align to the left */
    padding-left: 15px;
    /* Padding on the left side */
    /* Other styles (color, background, border-radius, etc.) here... */
}

.modal-content .button:last-child {
    margin-bottom: 0;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Li elements representing multiple choice questions */
.question li {
    list-style: none;
    padding: 10px;
    margin-top: 8px;
    background-color: #e1e1e1e8;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.question li:hover {
    background-color: #d1d1d1;
}

/* Styles for Yes and No buttons */
#modalYesButton,
#modalNoButton {
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 10px;
    border: none;
    color: white;
    background-color: #5cb85c;
    /* Bootstrap 'success' color */
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(76, 175, 80, 0.6);
    transition: background-color 0.3s ease;
}

#modalYesButton:hover,
#modalNoButton:hover {
    background-color: #4cae4c;
    /* a darker shade of success color */
}

/* Change the color for the No button */
#modalNoButton {
    background-color: #d9534f;
    /* Bootstrap 'danger' color */
}

#modalNoButton:hover {
    background-color: #c9302c;
    /* a darker shade of danger color */
}

/* Additional styles for input modals */
.input-container {
    margin-top: 20px;
}

.input-container label {
    display: block;
    margin-bottom: 8px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style for the submit button in input modals */
#modalSubmitButton {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    background-color: #5bc0de;
    /* Bootstrap 'info' color */
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(91, 192, 222, 0.6);
    transition: background-color 0.3s ease;
}

#modalSubmitButton:hover {
    background-color: #46b8da;
    /* a darker shade of info color */
}

.error-container {
    position: fixed;
    padding: 1rem;
    background-color: #e74c3c;
    max-width: 600px;
    /* or any maximum you'd prefer */
    /* Reddish */
    padding: 1rem;
    /* Adjust padding as needed */
    padding-right: 2.5rem;
    color: white;
    border-radius: 4px;
    z-index: 2000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
}

.error-container.bottom.left {
    bottom: 1rem;
    /* Spacing from the bottom */
    left: 1rem;
    /* Spacing from the left */
    transform: translateX(-100%);
    /* Start offscreen */
    transition: opacity 0.5s, transform 0.5s;
    /* Consistent with JavaScript timeouts */
    /* Slide in animation */
}

.error-container.bottom.right {
    bottom: 1rem;
    /* Spacing from the bottom */
    right: 1rem;
    /* Spacing from the right */
    transform: translateX(100%);
    /* Start offscreen */
    animation: slideInFromRight 0.4s forwards;
    /* Slide in animation */
}

/* Existing .error-container styles ... */

.error-container .close-error-btn {
    position: absolute;
    top: 50%;
    right: 1rem;
    /* Adjust spacing from the right */
    transform: translateY(-50%);
    /* Vertically center */
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
}

.error-container p {
    margin: 0;
    /* Remove margin to prevent layout shift */
    padding-right: 1.5rem;
    /* Make space for the close button */
}

.message-container {
    position: fixed;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #28a745;
    /* Solid green text */
    transition: opacity 0.4s, transform 0.4s;
    z-index: 1000;
    background: linear-gradient(135deg, #b1ff84, #a3ff7b);
    /* Light green background with gloss */
    border: 1px solid #f4f9f4;
    /* Very light green border */
}

.message-container.bottom.left {
    bottom: 1rem;
    left: 1rem;
    transform: translateX(-100%);
}

.message-container.bottom.right {
    bottom: 1rem;
    right: 1rem;
    transform: translateX(100%);
}

.message-container.top.right {
    top: 1rem;
    right: 1rem;
    transform: translateX(100%);
}

.message-container.top.left {
    top: 1rem;
    left: 1rem;
    transform: translateX(-100%);
}


/* Slide-out animations - create separate rules for left and right */
@keyframes slideOutToLeft {
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideOutToRight {
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}